<html>
<head>
    <title>Codal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

</head>

<body>
<div class="container">
    <form method="get">
        <div class="form-row align-items-left">
            <div class="col-auto">
                {{myFilter.form}}
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Forosh</th>
        <th>Sood Amaliyati</th>
        <th>Sood Khales</th>
        <th>Title</th>
        <th>Fund</th>
        <th>Type</th>
        <th>Duration</th>


    </tr>
    </thead>
    <tbody>
    {% for codal in codals %}
    <tr>
        <td style="border-bottom: 1px solid black"><a href="{{ codal.download_link }}">{{ codal.symbol }}</a></td>
        <td style="border-bottom: 1px solid black">{{ codal.company_name }}</td>
        <td style="border-bottom: 1px solid black">{{ codal.forosh}}</td>
        <td style="border-bottom: 1px solid black">{{ codal.sood_amaliyati }}</td>
        <td style="border-bottom: 1px solid black">{{ codal.sood_khales }}</td>
        <td style="border-bottom: 1px solid black">{{ codal.title }}</td>
        <td style="border-bottom: 1px solid black">{{ codal.fund }}</td>
        <td style="border-bottom: 1px solid black">{{ codal.type }}</td>
        <td style="border-bottom: 1px solid black">{{ codal.duration }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
