<html>
<head></head>
<body>
<div>
    <form method="get">
        <input type="text"/>
        <button>Search</button>
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Download</th>
        <th>Sood</th>
        <th>publish date time</th>
        
    </tr>
    </thead>
    <tbody>
    {% for codal in codals %}
    <tr>
        <td style="border-bottom: 1px solid black">{{ codal.symbol }}</td>
        <td style="border-bottom: 1px solid black"><a href="{{ codal.download_link }}">Download</a></td>
        <td style="border-bottom: 1px solid black">{{ codal.some_value }}</td>
        <td style="border-bottom: 1px solid black">{{codal.publish_date_time}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
