<table class="ui striped table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Publish Date Time</th>
        <th>Download</th>
        <th>Sood</th>
    </tr>
    </thead>
    <tbody>
    {% for codal in codals %}
        <tr>
            <td>{{ codal.symbol }}</td>
            <td>{{codal.publish_date_time}}</td>
            <td><a href="{{ codal.download_link }}">Download</a></td>
            <td>{{ codal.some_value }}</td>
            <td>{{ codal.some_table }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
